<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.afk.listeners.TestListeners"/></listeners>
    <test parallel="methods" thread-count="2" name="WebSiteLoginTest">
        <classes>
            <class name="com.afk.HomePageTest"/>
            <class name="com.afk.WebSiteLoginTest"/>
        </classes>
    </test>
</suite>